## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
import csv
# Import API key
from config import g_maps_key

# Configure gmaps API key
gmaps.configure(api_key=g_maps_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 

city_data_df = pd.read_csv(r"C:\\Users\\14802\\Documents\\Bootcamp\\World_Weather_Analysis\\Weather_Database\\WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Dubbo,AU,-32.2500,148.6167,66.33,42,40,18.41,scattered clouds
1,1,Atuona,PF,-9.8000,-139.0333,77.76,78,54,19.17,broken clouds
2,2,Port Blair,IN,11.6667,92.7500,81.77,83,100,12.53,overcast clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,37.06,75,75,16.11,broken clouds
4,4,Huarmey,PE,-10.0681,-78.1522,63.70,85,87,9.60,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [9]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filter_city_data_df = city_data_df.loc[(city_data_df["Max Temp"]  <= max_temp) & (city_data_df["Max Temp"]  >= min_temp)]
filter_city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Atuona,PF,-9.8000,-139.0333,77.76,78,54,19.17,broken clouds
2,2,Port Blair,IN,11.6667,92.7500,81.77,83,100,12.53,overcast clouds
10,10,Hilo,US,19.7297,-155.0900,82.13,83,75,11.50,broken clouds
12,12,Tevaitoa,PF,-16.7833,-151.5000,79.23,72,1,8.10,clear sky
18,18,Aloleng,PH,16.1307,119.7824,84.67,68,5,3.29,clear sky
...,...,...,...,...,...,...,...,...,...,...
681,681,San Policarpo,PH,12.1791,125.5072,84.49,71,98,1.70,overcast clouds
682,682,Araouane,ML,18.9048,-3.5265,93.79,16,24,4.99,few clouds
685,685,Port Hedland,AU,-20.3167,118.5667,89.65,19,0,8.05,clear sky
686,686,Amarillo,US,35.2220,-101.8313,75.04,36,1,4.00,clear sky
690,690,Niquelandia,BR,-14.4739,-48.4597,76.10,64,73,4.52,broken clouds

In [17]:
# 4a. Determine if there are any empty rows.
filter_city_data_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [23]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = pd.DataFrame(filter_city_data_df)
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Atuona,PF,-9.8000,-139.0333,77.76,78,54,19.17,broken clouds
2,2,Port Blair,IN,11.6667,92.7500,81.77,83,100,12.53,overcast clouds
10,10,Hilo,US,19.7297,-155.0900,82.13,83,75,11.50,broken clouds
12,12,Tevaitoa,PF,-16.7833,-151.5000,79.23,72,1,8.10,clear sky
18,18,Aloleng,PH,16.1307,119.7824,84.67,68,5,3.29,clear sky
...,...,...,...,...,...,...,...,...,...,...
681,681,San Policarpo,PH,12.1791,125.5072,84.49,71,98,1.70,overcast clouds
682,682,Araouane,ML,18.9048,-3.5265,93.79,16,24,4.99,few clouds
685,685,Port Hedland,AU,-20.3167,118.5667,89.65,19,0,8.05,clear sky
686,686,Amarillo,US,35.2220,-101.8313,75.04,36,1,4.00,clear sky
690,690,Niquelandia,BR,-14.4739,-48.4597,76.10,64,73,4.52,broken clouds

In [ ]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

In [ ]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_maps_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [ ]:
# 7. Drop the rows where there is no Hotel Name.

In [ ]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure